/* start of services home */
.col-services img,
.col-services-overlay {
    transition: all .25s ease-in-out;
}

.col-services:hover img {
    transform: scale(1.05);
}

.col-services:hover .col-services-overlay {
    opacity: 0 !important;
}

/* end of services home */